.authForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
input {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  min-width: 200px;
  box-sizing: border-box;
}
